body {
    font-family: 'Arial', sans-serif;
    background-color: #f5eef8;
    margin: 0;
    padding: 0;
  }
  
  .notification {
    display: none;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    border-radius: 8px;
    background-color: #9370db; /* MediumPurple */
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .notification p {
    margin: 0;
  }
  
  .notification .close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .notification:hover {
    background-color: #7b68ee; /* MediumSlateBlue */
  }
  
  